[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
yapf = "*"
mypy = "*"
pudb = "*"

[packages]
pyaml = "*"
sh = "*"
youtube-dl = "*"
python-slugify = "*"
loguru = "*"

[requires]
python_version = "3.5"
